Repository la-haus/flutter-twilio-conversations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, example/lib/**/*.dart, example/test/**/*.dart, .gitlab-ci.yml
  kotlin_analyze: any of: android/**/*.kt, .gitlab-ci.yml
  pod_lint: any of: ios/twilio_conversations.podspec, .gitlab-ci.yml
  swift_analyze: any of: ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: lib/**/*, test/**/*, lib/**/*, .gitlab-ci.yml
  dry-run: any of: /**/*, .gitlab-ci.yml
  tag: any of: /**/*, .gitlab-ci.yml

Android: migrate from jCenter to mavenCentral
  .gitlab-ci.yml
  CHANGELOG.md
  android/build.gradle
  example/android/build.gradle
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

Update android sdk to 4.0.2
  android/build.gradle
Due: none

Update iOS SDK to 2.2.6
  ios/twilio_conversations.podspec
Due: pod_lint

Update code to compile on twilio conversation android sdk 5
  android/.idea/modules.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
Due: kotlin_analyze

Fix reinitialization error
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

fix(Futter Plugin): when `onAttachedToEngine` is called more than once, all streams breaks (#4)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

Add delivery receipt to plugin
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  example/pubspec.lock
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  pigeons/api.dart
  pubspec.lock
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Add delivery receipt model and call to message object
  lib/src/message/delivery_receipt.dart
  lib/src/message/message.dart
Due: dartdoc, flutter_analyze, unit_test

Fix compilation errors
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  lib/src/message/delivery_receipt.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Update code to compile on twilio conversation android sdk 5
  android/.idea/modules.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/pubspec.yaml
Due: kotlin_analyze

Fix send message does not work
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
Due: kotlin_analyze

Fix new case for aggregatedDeliveryReceiptToPigeon
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
Due: kotlin_analyze

Fix files upload
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
Due: kotlin_analyze

Cleanup
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
Due: kotlin_analyze

Cleanup
  ios/twilio_conversations.podspec
Due: pod_lint

feat(Twilio SDK): update Android dependencies (again) (#3)
  android/.idea/modules.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/pubspec.yaml
Due: kotlin_analyze

Do not crash all if something goes wrong
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeStatusListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
Due: kotlin_analyze

Cleanup nullable handling
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeStatusListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/android/gradle.properties
Due: kotlin_analyze

Fix missing imports
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
Due: kotlin_analyze

feat(Resilience): do not crash all if something goes wrong internally (#6)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeStatusListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/android/gradle.properties
Due: kotlin_analyze

Add detailed delivery receipt to plugin
  lib/api.dart
  lib/src/message/detailed_delivery_receipt.dart
  lib/src/message/message.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, unit_test

Update source code
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/message.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, unit_test

Add code
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/detailed_delivery_receipt.dart
  lib/src/message/message.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, unit_test

Add code into model
  lib/src/message/delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

Add detailed delivery receipt to plugin
  android/.idea/modules.xml
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/detailed_delivery_receipt.dart
  lib/src/message/message.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Avoid nullable values
  android/.idea/modules.xml
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
Due: kotlin_analyze

Avoid nullable values
  lib/api.dart
Due: dartdoc, flutter_analyze, unit_test

Apply format
  lib/api.dart
Due: dartdoc, flutter_analyze, unit_test

Order correclty
  lib/src/message/detailed_delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

Remove TODO
  lib/src/message/message.dart
Due: dartdoc, flutter_analyze, unit_test

feat(Flutter Plugin): add detailed delivery receipt data to the plugin (#9)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/detailed_delivery_receipt.dart
  lib/src/message/message.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Remove logic of null result
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
Due: kotlin_analyze

Use dateToString method to convert dates
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
Due: kotlin_analyze

Define dates as nullable
  lib/src/message/detailed_delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

fix(Detailed Delivery Receipt): use dateToString method to convert dates (#11)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  lib/src/message/detailed_delivery_receipt.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Wrap everything
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
Due: kotlin_analyze

Wrap suspended
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
Due: kotlin_analyze

Use IO dispatchers
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
Due: kotlin_analyze
