Repository la-haus/flutter-twilio-conversations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

dartdoc:
  stage: lint
  script:
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

flutter_analyze:
  stage: lint
  script:
  - flutter pub get
  - flutter analyze --pub
  - flutter format -n . --set-exit-if-changed

kotlin_analyze:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
  - cd android || exit 1
  - ktlint

pod_lint:
  image: ruby:3.0.2-slim-buster
  stage: lint
  script:
  - cd ios || exit 1
  - apt-get update && apt-get install -y rbenv git curl unzip
  - gem install cocoapods -v 1.11.2
  - adduser --disabled-password --gecos "" cocoapods
  - export RUBYOPT='-W0'
  ...

swift_analyze:
  image: registry.gitlab.com/twilio-flutter/docker-swiftlint/docker-swiftlint:0.39.1
  stage: lint
  script:
  - cd ios || exit 1
  - swiftlint --strict

unit_test:
  stage: test
  script:
  - flutter test --coverage --pub test
  - lcov --list coverage/lcov.info

dry-run:
  stage: publish
  script:
  - flutter pub get
  - flutter pub publish --dry-run

tag:
  image: curlimages/curl
  stage: publish
  script:
  ...

feat(Plugin): add error handling on some missing places (#12)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/SafeCallbackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/PluginMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
Due: kotlin_analyze

Set initialized as false
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

fix(Plugin): error "Unable to establish connection on channel" after closing and opening the app (#13)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

Add onDetachedFromEngine implementation
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

fix(Plugin): add a more complete implementation of onDetachedFromEngine (#14)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
Due: kotlin_analyze

Update pigeon to most recent version and fix errors after it
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  example/pubspec.lock
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/twilio_conversations.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Add fromObjectList method for conversation models
  lib/src/attributes.dart
  lib/src/conversation/conversation.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/message/message.dart
  lib/src/message/message_media.dart
  lib/src/participant/participant.dart
  lib/src/user/user.dart
  lib/src/utils/cast.dart
Due: dartdoc, flutter_analyze, unit_test

Update participant from object list casting
  lib/src/participant/participant.dart
Due: dartdoc, flutter_analyze, unit_test

Update user from object list casting
  lib/src/user/user.dart
Due: dartdoc, flutter_analyze, unit_test

Update message from object list casting
  lib/src/message/message.dart
Due: dartdoc, flutter_analyze, unit_test

Update conversation from object list casting
  lib/src/conversation/conversation.dart
Due: dartdoc, flutter_analyze, unit_test

Update message media from object list casting
  lib/src/message/message_media.dart
Due: dartdoc, flutter_analyze, unit_test

Fix detailed delivery receipt from object list casting
  lib/src/message/detailed_delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

Update delivery receipt from object list casting
  lib/src/message/delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

Update detailed delivery receipt from object list casting
  lib/src/message/detailed_delivery_receipt.dart
Due: dartdoc, flutter_analyze, unit_test

Update build runner dependency version
  pubspec.yaml
Due: none

Update lints dependency version
  pubspec.lock
  pubspec.yaml
Due: none

Update uuid dependency version
  pubspec.yaml
Due: none

Update participant getUser to use from object list casting
  lib/src/participant/participant.dart
Due: dartdoc, flutter_analyze, unit_test

Update version number
  pubspec.yaml
Due: none

feat(Pigeon): update code generator (Pigeon) to its latest version (#15)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  example/pubspec.lock
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/attributes.dart
  lib/src/conversation/conversation.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/message/delivery_receipt.dart
  lib/src/message/detailed_delivery_receipt.dart
  lib/src/message/message.dart
  lib/src/message/message_media.dart
  lib/src/participant/participant.dart
  lib/src/twilio_conversations.dart
  lib/src/user/user.dart
  lib/src/utils/cast.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Fix flutter 3 is not supported
  pubspec.yaml
Due: none

Fix flutter 3.10 is not supported (#17)
  pubspec.yaml
Due: none

Update to 6.0.0
  android/build.gradle
Due: none

Update local locks
  example/pubspec.lock
  pubspec.lock
Due: none

Fix compilation
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
Due: kotlin_analyze

Add import
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
Due: kotlin_analyze

feat(Twilio): update android twilio conversations to 6.0.0 (#18)
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  example/pubspec.lock
  pubspec.lock
Due: kotlin_analyze

Update dependencies
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, unit_test

Update dependencies on example
  example/pubspec.lock
  example/pubspec.yaml
Due: none

Update flutter version
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Due: none

Update code renaming artifacts to fix linters
  example/lib/conversations/conversations_page.dart
  example/lib/messages/messages_page.dart
Due: flutter_analyze

Fix linter warnings about returning values
  example/lib/main.dart
  example/lib/messages/messages_notifier.dart
  lib/src/message/message.dart
Due: dartdoc, flutter_analyze, unit_test

Update script instruction
  run_pigeon.sh
Due: none

Add comment to dependency
  pubspec.yaml
Due: none

chore(Version): update dependencies versions to avoid security vulnerabilities (#19)
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  example/lib/conversations/conversations_page.dart
  example/lib/main.dart
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  example/pubspec.lock
  example/pubspec.yaml
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/message.dart
  pubspec.lock
  pubspec.yaml
  run_pigeon.sh
Due: dartdoc, flutter_analyze, unit_test

Update README.md
  README.md
Due: dartdoc

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, example/lib/**/*.dart, example/test/**/*.dart, .gitlab-ci.yml
  kotlin_analyze: any of: android/**/*.kt, .gitlab-ci.yml
  pod_lint: any of: ios/twilio_conversations.podspec, .gitlab-ci.yml
  swift_analyze: any of: ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: lib/**/*, test/**/*, lib/**/*, .gitlab-ci.yml
  dry-run: any of: /**/*, .gitlab-ci.yml
  tag: any of: /**/*, .gitlab-ci.yml
